<h1>STARBUCKS CALORIE</h1>

<h2>coffee</h2>

<div class="coffee">
  <%= image_tag "01.drip-coffee.jpg", class: 'image_size' %>
  <%= image_tag "02.coffee-press.jpg", class: 'image_size' %>
  <%= image_tag "03.cafe-mist.jpg", class: 'image_size' %>
  <%= image_tag "04.cold-brew-coffee.jpg", class: 'image_size' %>
</div>

<div class="item">
  <p>ドリップコーヒー</p>
  <p>コーヒープレス</p>
  <p>ドリップコーヒー</p>
  <p>ドリップコーヒー</p>
</div>

<% @beverages.each do |beverage| %>
  <p><%= beverage.item %></p>
<% end %>
