<%# jumbotron %>
    <div class="bg-light p-3 p-sm-5 mb-4 border-top">
      <div class="container">
        <h1 class="display-4">starbucks calorie</h1>
        <p class="lead">このサイトでは、スターバックス商品のカロリー情報が簡単に分かります。</p>
        <hr class="my-4">
        <p>標準ドリンクのトールサイズを対象としております。</p>
        <p>カロリーの詳細を示します。
      </div>
    </div>
    <%# jumbotron %>

<div class="drink">
  <p><%= @beverage.item %></p>
  <p><%= @beverage.milk_type %></p>
  <p><%= "カロリーは#{@beverage.energy}lcalです。" %></p>
  <p>活動量の少ない成人女性の場合は、1400～2000kcal、男性は2200±200kcal程度が目安です。</p>
  </br>
  <p><%= "タンパク質は#{@beverage.protein}gです" %></p>
  <p>日本人の食事摂取基準によると、一般の人が必要とするたんぱく質の量は体重1キロあたり0.8gです。 体重が60キロの人は1日当たり48gが目安となります。</p>
  </br>
  <p><%= "脂質は#{@beverage.lipid}gです" %></p>
  <p>脂質の理想的な摂取量は、総エネルギーの20～25％、成人では、1日50ｇ程度が目安です。 これは、植物油やバターなど調理に使う油脂と、食品そのものに含まれている脂質を合わせた量です。 食品中の「見えない脂質」は意識されにくく、知らずに過剰摂取になりやすいので注意しましょう。</p>
  </br>
  <p><%= "炭水化物は#{@beverage.carbohydrate}gです" %></p>
  <p>消費者庁が作成した「栄養素等表示基準値（2015）」(※)によると、日本人における1日あたりの炭水化物の目標摂取量は320gとなっています。 炭水化物は糖質と食物繊維を合わせたものですが、糖質摂取量のひとつの目安になるでしょう。</p>
  </br>
  <p><%= "食塩相当量は#{@beverage.salt_equivalent}gです" %></p>
  <p>世界保健機関（WHO）は、世界中の人の食塩摂取目標を1日5グラムとしていますが、米国では心血管疾患の予防のためのガイドラインは、塩分の最大摂取量が1日3.8～6.0グラムとなっています。</p>
</div>